./*  `src/app/components/tarjeta-credito/tarjeta-credito.css` - Estilos del componente Tarjeta Crédito. */
.far {
    cursor: pointer;
}

.green-icon {
    color: #198754
}

.red-icon {
    color: #dc3545
}